@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #dad9cc;
}
h1{
    text-align: center;
    color: #e1f54b;
}
p{
    text-align: center;
    color: #C2C0A6;
    font-size: 1.1em;
}
#calculo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #53736A;
    padding: 50px;
    border-radius: 30px;
}
input[type=button]{
    background-color: #024554;
    border: 0;
    padding: 10px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
}